

.row , .row-fluid, .items-row { .make-row();}
.row, .row-fluid, .items-row {
	margin-left:  (@grid-gutter-width / -2);
	margin-right: (@grid-gutter-width / -2);



}
(~'@{columns}')
{
	position: relative;
// Prevent columns from collapsing when empty
	min-height: 1px;
// Inner gutter via padding
    padding: @box-padding-top;
	padding-left:  (@grid-gutter-width / 2);
	padding-right: (@grid-gutter-width / 2);
	padding-bottom:@box-padding-bottom;



}





@media (min-width:@screen-small)
{
	.container, .container-fluid

	{
		max-width:@global-container-width;
		margin:0 auto;
		padding:@global-container-padding;
		box-sizing: border-box;
	}


(~'@{columns}')
		{
		float: left;



	}
.col-1, .span1  { width: percentage((1 / @grid-columns))-(@grid-gutter-width); }
(~'@{column2}')  { width: percentage((2 / @grid-columns))-(@grid-gutter-width); }
(~'@{column3}')  { width: percentage((3 / @grid-columns))-(@grid-gutter-width); }
(~'@{column4}')  { width: percentage((4 / @grid-columns))-(@grid-gutter-width); }
(~'@{column5}')   { width: percentage((5 / @grid-columns))-(@grid-gutter-width); }
(~'@{column6}')  { width: percentage((6 / @grid-columns))-(@grid-gutter-width); }
(~'@{column7}')  { width: percentage((7 / @grid-columns))-(@grid-gutter-width); }
(~'@{column8}')  { width: percentage((8 / @grid-columns))-(@grid-gutter-width); }
(~'@{column9}') { width: percentage((9 / @grid-columns))-(@grid-gutter-width); }
(~'@{column10}') { width: percentage((10/ @grid-columns))-(@grid-gutter-width); }
(~'@{column11}') { width: percentage((11/ @grid-columns))-(@grid-gutter-width); }
(~'@{column12}') { width: 100% ;box-sizing: border-box;	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  }

}
