
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    font-family: sans-serif;
}
body {
    margin: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: 700;
}
dfn {
    font-style: italic;
}
hr {
    -moz-box-sizing: content-box;
    height: 0;
}
code, kbd, pre, samp {
    font-family: Consolas,monospace,serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
}
q {
    quotes: "“" "”" "‘" "’";
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0 none;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
legend {
    border: 0 none;
    padding: 0;
}
button, input, select, textarea {
    -moz-box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
button, input {
    line-height: normal;
}
button, select {
    text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}
button:disabled, input:disabled {
    cursor: default;
}
input[type="checkbox"], input[type="radio"] {
    padding: 0;
}
input[type="search"] {
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
*::-moz-placeholder {
    opacity: 1;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html {
    font-size: 0.9em;
}
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #444444;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.4em;
}
@media (max-width: 767px) {
    body {
        -moz-hyphens: auto;
        word-wrap: break-word;
    }
}
.element-invisible {
    display: inline;
    height: 0;
    left: -4000px;
    position: absolute;
    top: -5000px;
}
a {
    color: #0088CC;
    text-decoration: none;
}
a:hover {
    color: #FFFFFF;
}
a:hover, a:active, a:focus {
    background: none repeat scroll 0 0 #184A7D;
    color: #FFFFFF;
    text-decoration: none;
}
em {
    color: #96117A;
}
ins {
    background: none repeat scroll 0 0 #FFFFAA;
    color: #444444;
    text-decoration: none;
}
mark {
    background: none repeat scroll 0 0 #FFFFAA;
    color: #444444;
}
*::-moz-selection {
    background: none repeat scroll 0 0 #3399FF;
    color: #FFFFFF;
    text-shadow: none;
}
abbr[title], dfn[title] {
    cursor: help;
}
dfn[title] {
    border-bottom: 1px dotted;
    font-style: normal;
}
img {
    -moz-box-sizing: border-box;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.uk-img-preserve, .uk-img-preserve img, img[src*="maps.gstatic.com"], img[src*="googleapis.com"] {
    max-width: none;
}
p, hr, ul, ol, dl, blockquote, pre, address, fieldset, figure {
    margin: 0 0 1em;
}
* + p, * + hr, * + ul, * + ol, * + dl, * + blockquote, * + pre, * + address, * + fieldset, * + figure {
    margin-top: 1em;
}
h1, h2, h3, h4, h5, h6 {
    color: #444444;
    font-family: "Helvetica",Helvetica,Arial,sans-serif;
    font-weight: 400;
    margin: 0 0 1em;
    text-transform: none;
}
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
    margin-top: 1.5em;
}
h1, .jh1 {
    color: #CCCCCC;
    font-size: 1em;
    line-height: 16px;
}
h2, .jh2 {
    font-size: 16px;
    line-height: 16px;
}
h3, .jh3 {
    font-size: 1em;
    font-weight: 700;
    line-height: 1em;
}
h4, .jh4 {
    font-size: 1em;
    line-height: 1em;
}
h5, .jh5 {
    font-size: 0.9em;
    line-height: 1.4em;
}
h6, .jh6 {
    font-size: 1em;
    line-height: 2em;
}
ul, ol {
    padding-left: 30px;
}
ul > li > ul, ul > li > ol, ol > li > ol, ol > li > ul {
    margin: 0;
}
dt {
    font-weight: 700;
}
dd {
    margin-left: 0;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    display: block;
    padding: 0;
}
address {
    font-style: normal;
}
q, blockquote {
    font-style: italic;
}
blockquote {
    border-left: 5px solid #DDDDDD;
    font-size: 1em;
    line-height: 1em;
    padding-left: 15px;
}
blockquote small {
    color: #999999;
    display: block;
    font-style: normal;
}
blockquote p:last-of-type {
    margin-bottom: 5px;
}
code {
    color: #DD0055;
    font-size: 1em;
    white-space: nowrap;
}
pre code {
    color: inherit;
    white-space: pre-wrap;
}
pre {
    -moz-tab-size: 4;
    background: none repeat scroll 0 0 #F5F5F5;
    color: #444444;
    font-size: 1em;
    line-height: 2em;
    padding: 10px;
}
small, .small {
    font-size: 0.9em;
    line-height: 1em;
}
button, input:not([type="radio"]):not([type="checkbox"]), select {
    vertical-align: middle;
}
iframe {
    border: 0 none;
}
.custom {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    border: 0 solid #DDDDDD;
    border-radius: 2px 2px 2px 2px;
    padding: 0;
}
h1#logo {
    color: #FFFFFF;
    line-height: 0.7em;
    margin: 0 0 0 20px;
}
h1#logo span {
    display: block;
    font-size: 0.8em;
}
ul.actions {
    border-bottom: 1px solid #DDDDDD;
    color: #EEEEEE;
    list-style-type: none;
    margin: 0;
    padding: 0 !important;
    text-align: right;
}
ul.actions li, .article-info {
    display: inline;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}
.dropdown {
    position: relative;
}
.dropdown-menu {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    display: none;
    float: left;
    left: 0;
    list-style: none outside none;
    margin: 2px 0 0 !important;
    min-width: 160px;
    padding: 10px !important;
    position: absolute;
    top: 70px;
    z-index: 10;
}
.dropdown-menu > li > a {
    clear: both;
    display: block;
    font-weight: 400;
    line-height: 1em;
    padding: 5px 20px;
    white-space: nowrap;
}
.dropdown-menu > .disabled > a {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    text-decoration: none;
}
.open.dropdown-menu {
    display: block;
}
.dropdown-backdrop {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}
.pull-right > .dropdown-menu {
    left: auto;
    right: 0;
}
.dropdown-menu {
    margin-bottom: 1px;
    top: auto;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
.breadcrumb {
    letter-spacing: -0.31em;
    list-style: none outside none;
    padding: 0;
}
.breadcrumb > li {
    letter-spacing: normal;
}
.breadcrumb > li, .breadcrumb > li > a, .breadcrumb > li > span {
    display: inline-block;
}
.breadcrumb > li:nth-child(n+2):before {
    content: "/";
    display: inline-block;
    margin: 0 8px;
    vertical-align: top;
}
.breadcrumb > li:not(.uk-active) > span {
    color: #999999;
}
.row:before, .row-fluid:before, .items-row:before, .row:after, .row-fluid:after, .items-row:after {
    content: " ";
    display: table;
}
.row:after, .row-fluid:after, .items-row:after {
    clear: both;
}
.row:before, .row-fluid:before, .items-row:before, .row:after, .row-fluid:after, .items-row:after {
    content: " ";
    display: table;
}
.row:after, .row-fluid:after, .items-row:after {
    clear: both;
}
.row:before, .row-fluid:before, .items-row:before, .row:after, .row-fluid:after, .items-row:after {
    content: " ";
    display: table;
}
.row:after, .row-fluid:after, .items-row:after {
    clear: both;
}
.row:before, .row-fluid:before, .items-row:before, .row:after, .row-fluid:after, .items-row:after {
    content: " ";
    display: table;
}
.row:after, .row-fluid:after, .items-row:after {
    clear: both;
}
.row:before, .row-fluid:before, .items-row:before, .row:after, .row-fluid:after, .items-row:after {
    content: " ";
    display: table;
}
.row:after, .row-fluid:after, .items-row:after {
    clear: both;
}
.row:before, .row-fluid:before, .items-row:before, .row:after, .row-fluid:after, .items-row:after {
    content: " ";
    display: table;
}
.row:after, .row-fluid:after, .items-row:after {
    clear: both;
}
.row:before, .row-fluid:before, .items-row:before, .row:after, .row-fluid:after, .items-row:after {
    content: " ";
    display: table;
}
.row:after, .row-fluid:after, .items-row:after {
    clear: both;
}
.row:before, .row-fluid:before, .items-row:before, .row:after, .row-fluid:after, .items-row:after {
    content: " ";
    display: table;
}
.row:after, .row-fluid:after, .items-row:after {
    clear: both;
}
.row:before, .row-fluid:before, .items-row:before, .row:after, .row-fluid:after, .items-row:after {
    content: " ";
    display: table;
}
.row:after, .row-fluid:after, .items-row:after {
    clear: both;
}
.row:before, .row-fluid:before, .items-row:before, .row:after, .row-fluid:after, .items-row:after {
    content: " ";
    display: table;
}
.row:after, .row-fluid:after, .items-row:after {
    clear: both;
}
.row, .row-fluid, .items-row {
    margin-left: -2%;
    margin-right: -2%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
    min-height: 1px;
    padding: 20px 2%;
    position: relative;
}
.span12, .cols-12 {
}
@media (min-width: 768px) {
    .container, .container-fluid {
        margin: 0 auto;
        max-width: 1640px;
        padding: 0 20px;
    }
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
        float: left;
    }
    .col-1, .span1 {
        width: 4.33333%;
    }
    .col-2, .span2 {
        width: 12.6667%;
    }
    .col-3, .span3 {
        width: 21%;
    }
    .col-4, .span4 {
        width: 29.3333%;
    }
    .col-5, .span5 {
        width: 37.6667%;
    }
    .col-6, .span6 {
        width: 46%;
    }
    .col-7, .span7 {
        width: 54.3333%;
    }
    .col-8, .span8 {
        width: 62.6667%;
    }
    .col-9, .span9 {
        width: 71%;
    }
    .col-10, .span10 {
        width: 79.3333%;
    }
    .col-11, .span11 {
        width: 87.6667%;
    }
    .col-12, .span12 {
        border: 1px solid;
        width: 100%;
    }
}
.navbar {
    background: none repeat scroll 0 0 #FFFFFF;
}
.moduletable_menu {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 2px 2px 2px 2px;
    margin-bottom: 20px;
    padding: 20px 10px;
}
.nav, .nav ul {
    list-style: none outside none;
    margin: 0 auto;
    padding: 0;
}
.moduletable_menu h3 {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    border: 0 solid #CCCCCC;
    font-weight: 700;
    padding: 0;
}
.nav li > a {
    display: block;
    text-decoration: none;
}
.nav > li > a {
    padding: 5px 15px;
}
.nav ul {
    padding-left: 15px;
}
.nav ul {
    margin: 10px;
}
ul.nav li ul li > a {
    border-bottom: 1px solid #FFFFFF;
    color: #31465B;
    font-size: 0.9em;
    padding: 10px 15px;
}
.nav li > a > div {
    font-size: 1em;
    line-height: 2em;
}
.nav.horizontal li > a {
    color: #31465B;
    display: block;
    text-decoration: none;
}
.nav.horizontal li.active > a {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #0088CC;
    display: block;
    text-decoration: none;
}
.nav > li.active a, .nav > li.active ul li.active a, .nav > li.active ul li.active ul li.active a {
    color: #0088CC;
    font-weight: 700;
}
.nav > li.active ul li a, .nav > li.active ul li.active ul li a, .nav > li.active ul li.active ul li.active ul li a {
    color: #31465B;
    font-weight: 400;
}
.nav.horizontal li > a:hover, .nav.horizontal li > a:active, .nav.horizontal li > a:focus, .nav li > a:hover, .nav li > a:active, .nav li > a:focus, .nav li li a:hover, .nav li li a:active, .nav li li a:focus {
    background: none repeat scroll 0 0 #31465B;
    color: #FFFFFF !important;
    text-decoration: none;
}
.nav.horizontal > li {
    float: right;
}
ul.horizontal:before, ul.horizontal:after {
    content: " ";
    display: table;
}
ul.horizontal:after {
    clear: both;
}
ul.horizontal:before, ul.horizontal:after {
    content: " ";
    display: table;
}
ul.horizontal:after {
    clear: both;
}
ul.horizontal:before, ul.horizontal:after {
    content: " ";
    display: table;
}
ul.horizontal:after {
    clear: both;
}
ul.horizontal:before, ul.horizontal:after {
    content: " ";
    display: table;
}
ul.horizontal:after {
    clear: both;
}
ul.horizontal:before, ul.horizontal:after {
    content: " ";
    display: table;
}
ul.horizontal:after {
    clear: both;
}
table {
}
* + .table {
    margin-top: 1em;
}
table th, table td {
    border-right: 1px solid #DDDDDD;
    padding: 8px;
}
tr {
    border-bottom: 1px solid #DDDDDD;
}
table th {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    text-align: left;
}
table th {
    font-size: 1em;
}
table td {
    vertical-align: top;
}
table thead th {
    vertical-align: bottom;
}
table caption, table tfoot {
    font-size: 1em;
    font-style: italic;
}
table caption {
    color: #999999;
    text-align: left;
}
.table-middle, .table-middle td {
    vertical-align: middle !important;
}
.table-striped tbody tr:nth-of-type(2n+1) td {
    background: none repeat scroll 0 0 #F5F5F5;
}
.table-condensed td {
    padding: 4px 8px;
}
.table-hover tbody tr:hover td {
    background: none repeat scroll 0 0 #EEEEEE;
}
.caret {
    border-color: #FFFFFF rgba(0, 0, 0, 0) -moz-use-text-color;
    border-style: solid solid dotted;
    border-width: 5px 5px 0;
    content: "";
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
}
.dropdown {
    position: relative;
}
.dropdown-toggle:focus {
    outline: 0 none;
}
.dropdown-menu {
    background-clip: padding-box;
    background-color: #EEEEEE;
    border: 0 solid #DDDDDD;
    border-radius: 2px 2px 2px 2px;
    display: none;
    float: left;
    font-size: 1em;
    left: 0;
    list-style: none outside none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    z-index: 20000;
}
.dropdown-menu.pull-right {
    left: auto;
    right: 0;
}
.dropdown-menu > li > a {
    clear: both;
    color: #0088CC;
    display: block;
    font-weight: 400;
    line-height: 30px;
    padding: 3px 20px !important;
    white-space: nowrap;
}
.nav .dropdown-menu > li > a:hover, .nav .dropdown-menu > li > a:focus {
    background-color: #31465B;
    color: #FFFFFF;
    text-decoration: none;
}
.nav .dropdown-menu > li.active > a, .nav .dropdown-menu > li.active > a:hover, .nav .dropdown-menu > li.active > a:focus {
    background-color: #0088CC;
    color: #FFFFFF;
    outline: 0 none;
    text-decoration: none;
}
.nav .dropdown-menu > .disabled > a, .nav .dropdown-menu > .disabled > a:hover, .nav .dropdown-menu > .disabled > a:focus {
    color: #DDDDDD;
}
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    cursor: not-allowed;
    text-decoration: none;
}
.open > .dropdown-menu {
    display: block;
}
.open > a {
    outline: 0 none;
}
.dropdown-header {
    color: #EEEEEE;
    display: block;
    font-size: 0.9em;
    line-height: 30px;
    padding: 3px 20px;
}
.dropdown-backdrop {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 19990;
}
.pull-right > .dropdown-menu {
    left: auto;
    right: 0;
}
.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-bottom: 4px solid #FFFFFF;
    border-top: 0 dotted;
    content: "";
}
.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    bottom: 100%;
    margin-bottom: 1px;
    top: auto;
}
li.dropdown, li.disabled {
    float: left;
}
.btn-default, .btn {
    background-color: #0088CC;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    padding: 10px;
}
.btn-default:hover, .btn:hover {
    background-color: #31465B;
    color: #FFFFFF;
}
.btn-micro {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 2px 2px 2px 2px;
    color: #333333;
    font-size: 0.6em;
    line-height: 0.5em;
    padding: 2px;
}
.btn-primary {
    background-color: #0088CC;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
}
.btn-warning {
    background-color: #F0AD4E;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
}
.btn-danger {
    background-color: #D9534F;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
}
.btn-success {
    background-color: #5CB85C;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
}
.btn-info {
    background-color: #DDDDDD;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
}
.btn-link {
    border-radius: 0 0 0 0;
    color: #0088CC;
    cursor: pointer;
    font-weight: 400;
}
.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background-color: rgba(0, 0, 0, 0);
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    border-color: rgba(0, 0, 0, 0);
}
.btn-link:hover, .btn-link:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    text-decoration: underline;
}
.btn-link[disabled]:hover, fieldset[disabled] .btn-link *:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link *:focus {
    color: #DDDDDD;
    text-decoration: none;
}
.btn-lg {
    border-radius: 5px 5px 5px 5px;
    font-size: 1.2em;
    line-height: 1.2em;
}
.btn-sm, .btn-xs, .btn-small {
    border-radius: 2px 2px 2px 2px;
    line-height: 0.8em;
    padding: 5px;
}
.btn-xs {
    padding: 1px 5px;
}
.btn-block {
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.btn-block + .btn-block {
    margin-top: 5px;
}
input.btn-block[type="submit"], input.btn-block[type="reset"], input.btn-block[type="button"] {
    width: 100%;
}
.btn-default .caret {
    border-top-color: #FFFFFF;
}
.btn-primary .caret, .btn-success .caret, .btn-warning .caret, .btn-danger .caret, .btn-info .caret {
    border-top-color: #FFFFFF;
}
.dropup .btn-default .caret {
    border-bottom-color: #FFFFFF;
}
.dropup .btn-primary .caret, .dropup .btn-success .caret, .dropup .btn-warning .caret, .dropup .btn-danger .caret, .dropup .btn-info .caret {
    border-bottom-color: #FFFFFF;
}
.btn-group, .btn-group-vertical, .btn-wrapper {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.btn-group > .btn, .btn-group-vertical > .btn, .btn-wrapper > .btn {
    float: left;
    position: relative;
}
.btn-group > .btn:hover, .btn-group-vertical > .btn:hover, .btn-wrapper > .btn:hover, .btn-group > .btn:focus, .btn-group-vertical > .btn:focus, .btn-wrapper > .btn:focus, .btn-group > .btn:active, .btn-group-vertical > .btn:active, .btn-wrapper > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn.active, .btn-wrapper > .btn.active {
    z-index: 2;
}
.btn-group > .btn:focus, .btn-group-vertical > .btn:focus, .btn-wrapper > .btn:focus {
    outline: 0 none;
}
.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
    margin-left: -1px;
}
.btn-toolbar:before, .btn-toolbar:after {
    content: " ";
    display: table;
}
.btn-toolbar:after {
    clear: both;
}
.btn-toolbar:before, .btn-toolbar:after {
    content: " ";
    display: table;
}
.btn-toolbar:after {
    clear: both;
}
.btn-toolbar:before, .btn-toolbar:after {
    content: " ";
    display: table;
}
.btn-toolbar:after {
    clear: both;
}
.btn-toolbar:before, .btn-toolbar:after {
    content: " ";
    display: table;
}
.btn-toolbar:after {
    clear: both;
}
.btn-toolbar:before, .btn-toolbar:after {
    content: " ";
    display: table;
}
.btn-toolbar:after {
    clear: both;
}
.btn-toolbar .btn-group {
    float: left;
}
.btn-toolbar > .btn + .btn, .btn-toolbar > .btn-group + .btn, .btn-toolbar > .btn + .btn-group, .btn-toolbar > .btn-group + .btn-group {
    margin-left: 5px;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0 0 0 0;
}
.btn-group > .btn:first-child {
    margin-left: 0;
}
.btn-group > .btn-group {
    float: left;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
    border-radius: 0 0 0 0;
}
.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle {
    outline: 0 none;
}
.btn-group > .btn + .dropdown-toggle {
    padding-left: 8px;
    padding-right: 8px;
}
.btn-group > .btn-lg + .dropdown-toggle {
    padding-left: 12px;
    padding-right: 12px;
}
.btn .caret {
    margin-left: 0;
}
.btn-lg .caret {
    border-bottom-width: 0;
}
.btn-group-vertical > .btn, .btn-group-vertical > .btn-group {
    display: block;
    float: none;
    max-width: 100%;
    width: 100%;
}
.btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after {
    content: " ";
    display: table;
}
.btn-group-vertical > .btn-group:after {
    clear: both;
}
.btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after {
    content: " ";
    display: table;
}
.btn-group-vertical > .btn-group:after {
    clear: both;
}
.btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after {
    content: " ";
    display: table;
}
.btn-group-vertical > .btn-group:after {
    clear: both;
}
.btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after {
    content: " ";
    display: table;
}
.btn-group-vertical > .btn-group:after {
    clear: both;
}
.btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after {
    content: " ";
    display: table;
}
.btn-group-vertical > .btn-group:after {
    clear: both;
}
.btn-group-vertical > .btn-group > .btn {
    float: none;
}
.btn-group-vertical > .btn + .btn, .btn-group-vertical > .btn + .btn-group, .btn-group-vertical > .btn-group + .btn, .btn-group-vertical > .btn-group + .btn-group {
    margin-left: 0;
    margin-top: -1px;
}
.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
    border-radius: 0 0 0 0;
}
.btn-group-vertical > .btn:first-child:not(:last-child) {
    border-top-right-radius: 2px;
}
.btn-group-vertical > .btn:last-child:not(:first-child) {
    border-bottom-left-radius: 2px;
}
.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
    border-radius: 0 0 0 0;
}
.btn-group-justified {
    border-collapse: separate;
    display: table;
    table-layout: fixed;
    width: 100%;
}
.btn-group-justified .btn {
    display: table-cell;
    float: none;
    width: 1%;
}
[data-toggle="buttons"] > .btn > input[type="radio"], [data-toggle="buttons"] > .btn > input[type="checkbox"] {
    display: none;
}
.badge {
    background-color: #0088CC;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 700;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}
.badge:empty {
    display: none;
}
a.badge:hover, a.badge:focus {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
.btn .badge {
    position: relative;
    top: -1px;
}
a.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
    background-color: #FFFFFF;
    color: #FFFFFF;
}
.nav-pills > li > a > .badge {
    margin-left: 3px;
}
.well, .box {
    background-color: #EEEEEE;
    border: 1px solid #DCDCDC;
    border-radius: 2px 2px 2px 2px;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
.nav-tabs {
    border-bottom: 1px solid #DDDDDD;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.nav-tabs:before, .nav-tabs:after {
    content: " ";
    display: table;
}
.nav-tabs:after {
    clear: both;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    position: relative;
}
.nav-tabs > li > a {
    background: none repeat scroll 0 0 #428BCA;
    border: 1px solid #DDDDDD;
    color: #FFFFFF;
    display: block;
    padding: 8px 12px;
    text-decoration: none;
}
.nav-tabs > li:nth-child(n+2) > a {
    margin-left: 5px;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .nav-tabs > li.uk-open > a {
    background: none repeat scroll 0 0 #428BCA;
    border-color: #F5F5F5;
    color: #FFFFFF;
    outline: 0 none;
}
.nav-tabs > li:not(.uk-active) > a:hover, .nav-tabs > li:not(.uk-active) > a:focus, .nav-tabs > li.uk-open:not(.uk-active) > a {
    margin-bottom: 1px;
    padding-bottom: 7px;
}
.nav-tabs > li.active > a {
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #DDDDDD #DDDDDD rgba(0, 0, 0, 0);
    color: #428BCA;
}
.nav-tabs > li.disabled > a {
    color: #999999;
    cursor: auto;
}
.nav-tabs > li.uk-disabled > a:hover, .nav-tabs > li.uk-disabled > a:focus, .nav-tabs > li.uk-disabled.uk-active > a {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}
.tabbable:before, .tabbable:after {
    content: " ";
    display: table;
}
.tabbable:after {
    clear: both;
}
.tabbable:before, .tabbable:after {
    content: " ";
    display: table;
}
.tabbable:after {
    clear: both;
}
.tabbable:before, .tabbable:after {
    content: " ";
    display: table;
}
.tabbable:after {
    clear: both;
}
.tabbable:before, .tabbable:after {
    content: " ";
    display: table;
}
.tabbable:after {
    clear: both;
}
.tabbable:before, .tabbable:after {
    content: " ";
    display: table;
}
.tabbable:after {
    clear: both;
}
.tab-content > .tab-pane, .pill-content > .pill-pane {
    display: none;
}
.tab-content > .active, .pill-content > .active {
    display: block;
}
.tab-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: -moz-use-text-color #DDDDDD #DDDDDD;
    border-image: none;
    border-right: 1px solid #DDDDDD;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    padding: 20px;
}
fieldset {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
legend {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #FFFFFF;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #184A7D;
    display: block;
    font-size: 1.5em;
    line-height: inherit;
    margin-bottom: 1em;
    padding: 0;
    width: 100%;
}
label {
    display: inline-block;
}
input[type="search"] {
}
input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    margin: 4px 0 0;
}
input[type="file"] {
    display: block;
}
select[multiple], select[size] {
    height: auto;
}
select optgroup {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
}
.form-control, .control-group {
    border-radius: 0 0 0 0;
    color: #555555;
    display: block;
    font-size: 1em;
    line-height: 2em;
    padding: 10px;
    vertical-align: middle;
}
.form-control[disabled], .control-group[disabled], .form-control[readonly], .control-group[readonly], fieldset[disabled] .form-control, fieldset[disabled] .control-group {
    background-color: #CCCCCC;
    cursor: not-allowed;
}
textarea .form-control, textarea .control-group {
    height: auto;
}
.form-group {
    margin-bottom: 15px;
}
.radio, .checkbox {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 1em;
    padding-left: 20px;
    vertical-align: middle;
    width: auto;
}
.radio label, .checkbox label {
    cursor: pointer;
    display: inline;
    font-weight: 400;
    margin-bottom: 0;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    float: left;
    margin-left: -20px;
}
.radio + .radio, .checkbox + .checkbox {
    margin-top: -5px;
}
.radio-inline, .checkbox-inline {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 0;
    padding-left: 20px;
    vertical-align: middle;
}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
    margin-left: 10px;
    margin-top: 0;
}
input[type="radio"][disabled], input[type="checkbox"][disabled], .radio[disabled], .radio-inline[disabled], .checkbox[disabled], .checkbox-inline[disabled], fieldset[disabled] input[type="radio"], fieldset[disabled] input[type="checkbox"], fieldset[disabled] .radio, fieldset[disabled] .radio-inline, fieldset[disabled] .checkbox, fieldset[disabled] .checkbox-inline {
    cursor: not-allowed;
}
input, select {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0 0 0 0;
    line-height: 0.8em;
    min-height: 15px;
    padding: 5px;
    width: 200px;
}
.control-label {
    display: inline-block;
    float: left;
    min-width: 200px;
    padding-right: 10px;
    text-align: right;
    width: auto;
}
.form-inline-header .control-group, .form-inline-header .control-label, .form-inline-header .controls, .form-vertical .control-label {
    display: inline;
    float: none;
    text-align: left;
}
.form-inline {
    margin: 20px 0;
}
.form-control-static {
    margin-bottom: 0;
    padding-top: 11px;
}
.help-block {
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
}
@media (min-width: 768px) {
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .form-inline .form-control {
        display: inline-block;
    }
    .form-inline .radio, .form-inline .checkbox {
        display: inline-block;
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 0;
    }
    .form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"] {
        float: none;
        margin-left: 0;
    }
}
.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    margin-bottom: 0;
    margin-top: 0;
}
.form-horizontal .form-group:before, .form-horizontal .form-group:after {
    content: " ";
    display: table;
}
.form-horizontal .form-group:after {
    clear: both;
}
.form-horizontal .form-group:before, .form-horizontal .form-group:after {
    content: " ";
    display: table;
}
.form-horizontal .form-group:after {
    clear: both;
}
.form-horizontal .form-group:before, .form-horizontal .form-group:after {
    content: " ";
    display: table;
}
.form-horizontal .form-group:after {
    clear: both;
}
.form-horizontal .form-group:before, .form-horizontal .form-group:after {
    content: " ";
    display: table;
}
.form-horizontal .form-group:after {
    clear: both;
}
.form-horizontal .form-group:before, .form-horizontal .form-group:after {
    content: " ";
    display: table;
}
.form-horizontal .form-group:after {
    clear: both;
}
.form-horizontal .form-group:before, .form-horizontal .form-group:after {
    content: " ";
    display: table;
}
.form-horizontal .form-group:after {
    clear: both;
}
.form-horizontal .form-group:before, .form-horizontal .form-group:after {
    content: " ";
    display: table;
}
.form-horizontal .form-group:after {
    clear: both;
}
.form-horizontal .form-group:before, .form-horizontal .form-group:after {
    content: " ";
    display: table;
}
.form-horizontal .form-group:after {
    clear: both;
}
.form-horizontal .form-group:before, .form-horizontal .form-group:after {
    content: " ";
    display: table;
}
.form-horizontal .form-group:after {
    clear: both;
}
.form-horizontal .form-group:before, .form-horizontal .form-group:after {
    content: " ";
    display: table;
}
.form-horizontal .form-group:after {
    clear: both;
}
@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: left;
    }
}
controls .btn-group.btn-group-yesno > .btn {
    min-width: 84px;
    padding: 2px 12px;
}
.radio.btn-group > label:first-of-type {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 13px;
}
.btn-group > .btn {
    position: relative;
}
.radio.btn-group input[type="radio"] {
    display: none;
}
.radio.btn-group > label.btn {
    border: 0 none;
    border-radius: 0 0 0 0;
    height: auto;
    padding: 10px;
}
fieldset.radio {
    border: 0 none;
}
.label {
    border-radius: 0.25em 0.25em 0.25em 0.25em;
    color: #FFFFFF;
    display: inline;
    font-size: 1em;
    font-weight: 400;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}
.label[href]:hover, .label[href]:focus {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
.label:empty {
    display: none;
}
.alert {
    background: none repeat scroll 0 0 #EBF7FD;
    color: #2D7091;
    margin-bottom: 1em;
    padding: 10px;
}
* + .alert {
    margin-top: 1em;
}
.alert > *:last-child {
    margin-bottom: 0;
}
.alert h1, .alert h2, .alert h3, .alert h4, .alert h5, .alert h6 {
    color: inherit;
}
.alert > .close:first-child {
    float: right;
}
.alert > .close:first-child + * {
    margin-top: 0;
}
.alert-success {
    background: none repeat scroll 0 0 #F2FAE3;
    color: #659F13;
}
.alert-warning {
    background: none repeat scroll 0 0 #FFFCEB;
    color: #E28327;
}
.alert-error {
    background: none repeat scroll 0 0 #FFF1F0;
    color: #D85030;
}
.alert-large {
    padding: 20px;
}
.alert-large > .close:first-child {
    margin: -10px -10px 0 0;
}
.pagination {
    font-size: 0.9em;
    list-style: none outside none;
    padding: 0;
    text-align: center;
}
.pagination:before, .pagination:after {
    content: " ";
    display: table;
}
.pagination:after {
    clear: both;
}
.pagination ul > li {
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    letter-spacing: normal;
    margin: 5px;
}
.pagination > li:nth-child(n+2) {
    margin-left: 5px;
}
.pagination ul > li > a, .pagination ul > li > span {
    -moz-box-sizing: content-box;
    display: inline-block;
    line-height: 0.9em;
    padding: 3px;
    text-align: center;
    text-decoration: none;
}
.pagination ul > li > a {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #0088CC;
}
.pagination ul > li > a:hover, .pagination ul > li > a:focus {
    background-color: #0088CC;
    color: #EEEEEE;
    outline: 0 none;
}
.pagination ul > li > a:active {
    background-color: #0088CC;
    color: #EEEEEE;
}
.pagination ul > .pagenav > span {
    background: none repeat scroll 0 0 #0088CC;
    color: #FFFFFF;
}
.pagination ul > li > span {
    background-color: #EEEEEE;
    color: #999999;
}
.pagination-prev {
    float: left;
}
.pagination-next {
    float: right;
}
.pagination-start {
    text-align: left;
}
.pagination-end {
    text-align: right;
}
